<mat-toolbar color="primary">
    <span>Elimity Frontend Exercise</span>
</mat-toolbar>

<div class="container">
    <h1 class="mt-3">Projects</h1>
    <div class="row">
        <div class="col">
            <!-- TODO: replace this span with a mat-select from step 3 in the instructions -->
            <span>Show tasks dropdown</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 py-3" *ngFor="let project of projects; let i = index">
            <!-- TODO: replace this span with your own project component from step 1 in the instructions -->
            <span>{{ project.title }}</span>
        </div>
    </div>
</div>
